/* ---- GLOBALS ---- */

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  }

a:hover {
  color: #808080;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ---- HEADER ---- */

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  /* color: #38b638; */
  color: #ffffff;
  background-color: #414040;
  padding: 10px 0 10px 0;
}

header a:hover {
  color: #5ab500;
}

.head-left {
  /* border: solid red 1px; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 35%;
}
          
.head-right {
  /* border: solid red 1px; */
  margin-right: 50px;
}

.head-phone {
  /* border: solid red 1px; */
  margin-left: 60px;
}

.head-social-icons {
  /* border: solid red 1px; */
}

/* ---- NAVBAR ---- */
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 13px 0 13px 0;
  /* border: solid red 1px; */
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

nav ul li {
  margin-right: 18px;
}

nav a {
  width: 28%;
}

nav img {
  width: 100%;
}

#searchbar {
  margin: 0;
  padding: 0;
}

/* ---- CAROUSEL ---- */

.carousel-item {
  width:100%;
  max-height: 400px;
}

.carousel-item img {

  }

/* ---- MAIN CONTAINER ---- */

#main-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* justify-content: space-around; */
}

/* ---- ASIDE CATEGORY LINKS ---- */

aside {
  width: 20%;
  margin: 30px 30px 10px 30px;
}

aside h4 {
  font-weight: bold;
  margin-bottom: 16px;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

/* ---- MAIN & FEATURED PRODUCT THUMBNAILS ---- */

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* border: purple 1px solid; */
  width: 80%
}

.item {
  width: 32%;
  max-height: 350px;
  /* border: 1px red solid; */
}

.item-thumb {
  background-image: url('../assets/JGI.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 250px;
}

main p {
  margin: 10px 5px 20px 5px;
}

/* ---- MAP ---- */
#map {
  width: 100%;
  height: 350px;
  background-image: url('../assets/ecogift-mapa.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0 10px 0;
}

#map img {
  width: 30%;
  height: auto;
  margin: 4.5% 0 0 5%;
}

/* ---- INSTAGRAM FEED ---- */
#insta-feed {
  width: 100%;
  height: 200px;
  background-color: #723e74;
  text-align: center;
  margin: 0 0 10px 0;
}

#insta-feed p {
  margin: 0;
}

/* ---- FOOTER ---- */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  /* border: purple 1px solid; */
  background-color: #414040;
  color: #ffffff;
  height: 500px;
  padding: 46px 0 46px 0;
}

footer a:hover {
  color: #5ab500;
}

footer div {
  max-width: 20%;
  max-height: 350px;
  /* border: 1px red solid; */
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 8px;
}

footer h4 {
  padding-bottom: 8px;
  border-bottom: 1px white solid;
  margin: 0 0 8px 0;
}

#ft-social-links {
  text-align: center;
}

#ft-contact img {
  width: 100%;
}

#ft-contact p {
  margin: 3px 0 3px 0;
}